.root {
    font-family: sans-serif;
}

.dark-toggle{
    justify-content: center;
    display: flex;
    position: fixed;
    bottom: 25px;
    right: 0px;
    left: 0px;
}

.full-tab {
    width: 100%;
}
  
.tab-content {
    overflow: auto;
    height: 70vh;
    max-height: 80vh;
    top: 50px;
}

.content {
    flex: 1 0 auto;
    overflow: hidden;
 
  }
  
.footer {
    bottom: 0;
    position: fixed; 
    right: 0px;
    left: 0px;   
  }