<div class="mat-app-background" [ngClass]="{'dark-theme': isDarkTheme | async}">
    <div class="content">
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Current"><app-dashboard></app-dashboard></mat-tab>
            <mat-tab label="Today"><img class="full-tab" src="./assets/images/UnderConstruction.png"></mat-tab>
            <mat-tab label="Yesterday"><img class="full-tab" src="./assets/images/UnderConstruction.png"></mat-tab>
        </mat-tab-group>
        <div class="dark-toggle">
            <mat-slide-toggle
                [labelPosition]="before"
                [checked]="isDarkTheme | async" (change)="toggleDarkTheme($event.checked)">
                Dark mode
            </mat-slide-toggle>
        </div>
    </div>
    <footer class="footer">
        <div><p></p></div>
    </footer>
</div>