.root {
    font-family: sans-serif;
}

.dark-toggle{
    justify-content: center;
    display: flex;
    position: fixed;
    bottom: 35px;
    right: 0px;
    left: 0px;
}

.full-tab {
    width: 100%;
}

.content {
    flex: 1 0 auto;
    overflow: auto;
    height: 80%;
  }
  
.footer {
    bottom: 0;
    position: fixed; 
    right: 0px;
    left: 0px;   
  }