<div class="mat-app-background" [ngClass]="{'dark-theme': isDarkTheme | async}">  
    <nav mat-tab-nav-bar mat-align-tabs="center">
        <a mat-tab-link
        *ngFor="let link of navLinks"
        [routerLink]="link.link"
        routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive">
        {{link.label}}
        </a>
    </nav>
    <div class="content">
       <router-outlet ></router-outlet>
    </div>
    <div class="dark-toggle">
        <mat-slide-toggle
            [labelPosition]="before"
            [checked]="isDarkTheme | async" (change)="toggleDarkTheme($event.checked)">
            Dark mode
        </mat-slide-toggle>
    </div>
    <div class="footer">
    <app-footer ></app-footer>
</div>
</div>