<div class=dashboard *ngFor="let d of data">
    <div class=row-title>{{d.location.type}}</div>
    <div class=row-subtitle>{{d.location.name}}</div>
    <div class=row>
        <app-temperature [value]=d.metrics.temperature></app-temperature>
        <app-humidity [value]=d.metrics.humidity>
        </app-humidity>
        <app-wind *ngIf="d.metrics.windSpeed" [value]=d.metrics.windSpeed [direction]=d.metrics.windDirection></app-wind>
        <app-rain-rate *ngIf="d.metrics.rainRate" [value]=d.metrics.rainRate></app-rain-rate>
    </div>
</div>
<div class="row"><slide-toggle (toggle)="onToggle($event)" [on]="darkMode"></slide-toggle></div>
