.dashboard {
    padding: 25px;
    margin: auto;
    width: 750px;
    font-family: sans-serif;
}

.row-title {
    font-size: 55px;
    text-align: center;
    font-variant: all-small-caps;
}

.row-subtitle {
    font-size: 25px;
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
}